node-red-contrib-craps/examples/strategy_simple_line_place.json
[
  {
    "id": "b4b0f0dfedb0d6f3",
    "type": "tab",
    "label": "Strategy: Line + Place",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b9f8f929bc7a9d5c",
    "type": "comment",
    "z": "b4b0f0dfedb0d6f3",
    "name": "Compile Pass Line + Place 6/8",
    "info": "Pass Line with Place 6 and Place 8. Demonstrates wiring bet-type nodes into the strategy-compiler and then export-vanilla using msg.strategy_config.",
    "x": 230,
    "y": 60,
    "wires": []
  },
  {
    "id": "f1c8c6e5fd14a2ce",
    "type": "inject",
    "z": "b4b0f0dfedb0d6f3",
    "name": "trigger once",
    "props": [
      { "p": "payload" }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 120,
    "y": 140,
    "wires": [["7fe38f2ea544f1e9"]]
  },
  {
    "id": "7fe38f2ea544f1e9",
    "type": "var-table",
    "z": "b4b0f0dfedb0d6f3",
    "name": "table: $10",
    "mode": "10",
    "x": 300,
    "y": 140,
    "wires": [["1a9dd6d2aa7b7c3f"]]
  },
  {
    "id": "1a9dd6d2aa7b7c3f",
    "type": "bet-type",
    "z": "b4b0f0dfedb0d6f3",
    "kind": "Pass",
    "number": "",
    "betId": "",
    "valueSource": "fixed",
    "amount": "10",
    "unitType": "units",
    "note": "",
    "x": 510,
    "y": 140,
    "wires": [["8c60bcfa5b7a78c1"]]
  },
  {
    "id": "8c60bcfa5b7a78c1",
    "type": "bet-type",
    "z": "b4b0f0dfedb0d6f3",
    "kind": "Place",
    "number": "6",
    "betId": "",
    "valueSource": "fixed",
    "amount": "12",
    "unitType": "dollars",
    "note": "",
    "x": 730,
    "y": 140,
    "wires": [["2f4e2f0c56b6dd0e"]]
  },
  {
    "id": "2f4e2f0c56b6dd0e",
    "type": "bet-type",
    "z": "b4b0f0dfedb0d6f3",
    "kind": "Place",
    "number": "8",
    "betId": "",
    "valueSource": "fixed",
    "amount": "12",
    "unitType": "dollars",
    "note": "",
    "x": 950,
    "y": 140,
    "wires": [["9d5ad8262e3bd4f3"]]
  },
  {
    "id": "9d5ad8262e3bd4f3",
    "type": "strategy-compiler",
    "z": "b4b0f0dfedb0d6f3",
    "strategyName": "LinePlaceCompiler",
    "notes": "",
    "x": 1170,
    "y": 140,
    "wires": [["dbd4c6c5c03cfa1c", "ab5b9fe2dcb8a14d"]]
  },
  {
    "id": "dbd4c6c5c03cfa1c",
    "type": "debug",
    "z": "b4b0f0dfedb0d6f3",
    "name": "strategy_config",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "strategy_config",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 100,
    "wires": []
  },
  {
    "id": "ab5b9fe2dcb8a14d",
    "type": "export",
    "z": "b4b0f0dfedb0d6f3",
    "name": "vanilla export",
    "filename": "strategy_line_place.py",
    "x": 1400,
    "y": 180,
    "wires": [["e412f0c2c2f3f4ae"]]
  },
  {
    "id": "e412f0c2c2f3f4ae",
    "type": "debug",
    "z": "b4b0f0dfedb0d6f3",
    "name": "exported python",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1650,
    "y": 180,
    "wires": []
  }
]
